[user]
  name = Alezco
  email = benjaminmorali4@hotmail.fr
[alias]
  co = checkout
  br = branch
  c = commit -m
  l = log
  s = status
  a = add
  ls = ls-files
  lf = log --graph --oneline --all --decorate=full
  pom = push origin master
  pr = pull --rebase
  A = add -A
  cl = clone
  fdp = blame
  can = commit --amend --no-edit
  pf = push --force-with-lease
  prom = pull --rebase origin main
  cob = checkout -b
  bd = branch -D
  sa = stash --all
[branch]
  autosetuprebase = always
  sort = -committerdate
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[core]
  autocrlf = input
  longpaths = true
[rerere]
  enabled = true
  autoupdate = true
[column]
  ui = auto
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
[commit]
  verbose = true
