[user]
  name = Alezco
  email = benjaminmorali4@hotmail.fr
[alias]
  co = checkout
  br = branch
  c = commit -m
  l = log
  s = status
  a = add
  ls = ls-files
  lf = log --graph --oneline --all --decorate=full
  pom = push origin master
  pr = pull --rebase
  A = add -A
  cl = clone
  fdp = blame
  can = commit --amend --no-edit
  pf = push --force
  prom = pull --rebase origin master
  cob = checkout -b
  bd = branch -D
[branch]
  autosetuprebase = always
[push]
  default = current
[core]
  autocrlf = input
